$logo-color: #DF3D0F;
$background-color: #001531;
$btn-gradient: linear-gradient(90deg, #3B34A1, #E1400F);
$btn-border-gradient: linear-gradient(to right, #3B34A1, #E1400F) 1;
$feature-icon: #F77307;
$feature-bg-color: #3B34A045;
$feature-title-color: #E1400F;
$benefit-project-icon-color: #4171C4;
$benefit-customer-icon-color: #6CCC3E;
$benefit-expert-icon-color: #E5333D;
$benefit-rate-icon-color: #8555C1;
$service-color: #101D4F;
$service-link-color: #E1400F;
$service-after-color: #2C2B2B70;
$explore-bg-color: #3B34A045;
$input-bg-color: #101D4F;
$input-text-color: #FFFFFF;
$btn-text-color: #FFFFFF;
$footer-bg-color: #3B34A045;

